<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Alta Movimiento</title>
<link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
	<h1>Alta de movimiento</h1>
	<h4>Mensaje: <span id="mensaje" th:text="${mensaje}"></span></h4>
	<h4>Cuenta: <span th:text="${session.cuenta.idCuenta}"></span></h4>
	<h4>Saldo actual en cuenta: <span th:text="${session.cuenta.saldo} + ' €'"></span></h4>
	<form th:action="@{/movimientos/alta}" method="post">
		<p>
			<label for="operacion">Selecciona tipo de operación a realizar </label>
			<select name="operacion" required>
    			<option value="" disabled selected>Tipo operación</option>
    			<option value="INGRESO">Ingresar</option>
    			<option value="EXTRACCION">Extraer</option>
			</select>
		</p>
		<p>Introduce importe <input type="number" name="cantidad" placeholder="Importe" step="any" required>
		 <!-- step="any" permite ingresar cualquier numero decimal -->
		
		<p><input type="submit" value="Realizar operación"></p>
	</form>
	<ul>
		<li><a th:href="@{/}">Volver a inicio</a></li>
		<li><a th:href="@{/logout}">Cerrar sesión</a></li>
	</ul>
</body>
</html>